{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}{% endblock %}
{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}
<br><br><br><br><br><br><br><br>
<div id="content-main" align=center>
	<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
		<table border=0>
			<tr>
				<th width=10% height=10%></th>
				<th>
					<div class="form-row">
						<label for="id_username" class="required">
							<p style="color:#6094BF">
								{{ form.username.label }}:
							</p>
						</label> 
					</div>
				</th>
				<th width=10%></th>
				<th style="text-align:center">
					{{ form.username }}
					{{ form.username.errors }}
				</th>
				<th width=10%></th>
			</tr>
			<tr><th colspan="5"><br></th></tr>
			<tr>
				<th></th>
				<th>
					<div class="form-row">
						<label for="id_password" class="required">
							<p style="color:#6094BF">
								{% trans 'Password:' %}
							</p>
						</label>
					</div>
				</th>
				<th></th>
				<th style="text-align:center">
					{{ form.password }}
					{{ form.password.errors }}
					<input type="hidden" name="next" value="index" />
					{% url 'admin_password_reset' as password_reset_url %}
					{% if password_reset_url %}
					<div class="password-reset-link">
						<a href="{{ password_reset_url }}">
							{% trans 'Forgotten your password or username?' %}
						</a>
					</div>
					{% endif %}
				</th>
				<th></th>
			</tr>
			<tr><th colspan="5"><br></th></tr>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th>
					<div class="submit-row">
						<label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</label>
						<input type="submit" class="btn btn-info btn-md" value="{% trans 'Log in' %}" />
					</div>
				</th>
				<th>
				</th>
			</tr>
			<tr>
				<th></th>
				<th colspan="3">
					<p style="text-align:center;color:#6094BF"><br><br>
						Esta apunto de iniciar sesión en DroneHeal, plataforma <br>
						para el envio de pequeñas mercancias, a distancias de <br>
						hasta &nbsp;15 &nbsp;km, &nbsp;mediante &nbsp;el &nbsp;uso &nbsp;de &nbsp;UAV. &nbsp;Si &nbsp;no &nbsp;&nbsp;tiene <br>
						usuario y contraseña, &nbsp;contacte &nbsp;con &nbsp;el &nbsp;administrador.
					</p>
					{% if form.errors and not form.non_field_errors %}
					<br><br>
					<p class="errornote" style="text-align:center;color:tomato">
					{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
					</p>
					{% endif %}
				</th>
				<th></th>
			</tr>
		</table>
	</form>
	<script type="text/javascript">
		document.getElementById('id_username').focus()
	</script>
</div>
{% endblock %}
