		<form role="form-horizontal" action="" method="post">
			{% csrf_token %}
			
			<fieldset>
				<legend style="color:#6094BF">Envio de Pedidos:</legend>
				<table>
					<tr>
						<th width=10%>
						</th>
						<th>
							<label for="clientes" style="text-align:center;color:#6094BF">
								Cliente:
							</label>
							<div class="form-group">
								<select class="form-control" id="clientes" style="text-align:center;color:#6094BF">
									<option selected value=0>Elige un destino</option>
									{% for cliente in clientes %}
									<option value=1>{{cliente}}</option>
									{% endfor %}
								</select>
							</div>
						</th>
						<th width=2%>
						</th>
						<th>
							<label for="drones" style="text-align:center;color:#6094BF">
								Drone:
							</label>
							<div class="form-group">
								<select class="form-control" id="drones" style="text-align:center;color:#6094BF">
									<option selected value=0>Elige un dron</option>
									{% for drone in drones %}
									<option value=1>{{drone}}</option>
									{% endfor %}
								</select>
							</div>
						</th>
						<th width=2%>
						</th>
						<th>
							<button type="submit" class="btn btn-info btn-md" onclick="alert('Conectando con el Dron...')" value="submit">
								Enviar
							</button>
						</th>
						<th width=10%>
						</th>
					</tr>
				</table>
			</fieldset>
		</form>

    {{ form.as_p }}
