{% extends "base.html" %}
{% block content %}
<a href="{% url 'index' %}">Atras</a>
<form role="form-horizontal" action="{% url 'padd' %}" method="post" style="text-align:center;color:#6094BF">
    {% csrf_token %} 
    <legend style="text-align:left;color:#6094BF;font-size:30px">Envio de Pedidos:</legend><br><br>
	<table border=0 align=center>
		<tr>
			<th width=5%></th>
			{% for field in form %}
				<th>
					<div id="{{ field.auto_id }}_container">
						{{ field.help_text }}
						<div>
							{{ field.label_tag }} {{ field }}
						</div>
						<div id="{{ field.auto_id }}_errors">
							{{ field.errors }}
						</div>
					</div>
				</th>
				<th width=5%></th>
			{% endfor %}
			<th><input type="submit" value="Enviar" class="btn btn-info btn-md" /></th>
			<th width=5%></th>
		</tr>
	</table><br><br>
</form>
<img src="/static/image/skyline5.jpg" alt="Cargando imagen ..." style="width:100%;height:100%">
{% endblock %}
