{% extends "base.html" %}
{% block title %}{{ title }}{{ site_title|default:_('DroneHeal') }}{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'login' %}" title="Inicio">DroneHeal</a></h1>
{% endblock %}
{% block nav-global %}{% endblock %}
