{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% block extrastyle %}{{ block.super }}{% endblock %}
{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}
		<style>
			.map {
				height: 600px;
				width: 100%;
			}
			#info {
				position: absolute;
				font-size: 0.7em;
				top: 578px;
				right: 10px;
				background-color: lightgrey;
				border-style: solid;
				border-width: 1px;
				padding: 8px;
			}
			#leyenda {
				position: absolute;
				font-size: 0.7em;
				top: 568px;
				left: 10px;
				background-color: lightgrey;
				border-style: solid;
				border-width: 1px;
				padding: 8px;
			}
			#drones {
				position: absolute;
				font-size: 0.9em;
				top: 88px;
				right: 10px;
				background-color: white;
				border-style: solid;
				border-width: 1px;
				padding: 8px;
			}
			p {
				text-align:center;
			}
			p.leyenda {
				text-decoration: underline;
			}
			fallo {
				class: danger;
				background-color: red;
				padding: 2px;
			}
			activo {
				class: success;
				background-color: green;
				padding: 2px;
			}
			apagado {
				class: info;
				background-color: orange;
				padding: 2px;
			}
		</style>
		<script src="{% static 'js/ol.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/wise.js' %}" type="text/javascript"></script>
		<div id="map" class="map" alt="Cargando.."></div>
	    <div id="info"></div>
	    <div id="leyenda"></div>
	    <div id="drones"></div>
		<script type="text/javascript">

			var dron = new ol.style.Circle({
				radius: 3,
				fill: new ol.style.Fill({color: 'green'}),
				stroke: new ol.style.Stroke({color: 'red', width: 1})
				});

			function prepend(id, text) {
				div = document.getElementById(id);
				div.innerHTML = text + div.innerHTML;
				}

			var position;

			Servant = Class.extend({
				set_coor: function(message) {
					position = message;
					var coordenadasDrones = [];
					coordenadasDrones.push(ol.proj.transform(position, 'EPSG:4326', 'EPSG:3857'));
					map.on('postcompose', function(event) {
						var vectorContext = event.vectorContext;
						vectorContext.setImageStyle(dron);
						vectorContext.drawMultiPointGeometry(new ol.geom.MultiPoint(coordenadasDrones), null);
						map.render();
						});

					map.render();
					},
				set_locatorScreen: function(message) {
					var alt = parseFloat(message) || 0;
					var fecha = new Date();
					var hora = fecha.getHours();
					var minutos = fecha.getMinutes();
					var meses = fecha.getMonth()+1;
					var day = fecha.getDate();
					var year = fecha.getFullYear();
					var coor = position;
					var html = ['Fecha: ' + hora + ':' + minutos + '/' + day + '-' + meses + '-' + year,
						'Latitud: ' + coor[0].toFixed(5) + '&deg;',
						'Longitud: ' + coor[1].toFixed(5) + '&deg;',
						'Altitud: ' + alt.toFixed(5) + ' m',
						].join('<br />');
					document.getElementById('info').innerHTML = html;					
					},
				set_message: function(message) {
					prepend('messages', "'{0}'<br/>".format(message));
					},
				});

			function wise_application(ws) {
				ws.createObjectAdapter("WebAdapter").then(on_adapter_ready);

				function on_adapter_ready(adapter) {
					var observer = adapter.addWithUUID(new Servant());
					ws.stringToProxy("Observable -w ws1")
					.then(on_stringToProxy_response);
					function on_stringToProxy_response(proxy) {
						proxy.attach(observer).then(ws.ready);
						}
					}
				}

			var cliente = new ol.style.Circle({
				radius: 5,
				name:'Cliente',
				fill: new ol.style.Fill({color: 'pink'}),
				stroke: new ol.style.Stroke({color: 'red', width: 1})
				});

			var base = new ol.style.Circle({
				radius: 7,
				fill: new ol.style.Fill({color: 'red'}),
				stroke: new ol.style.Stroke({color: 'black', width: 1})
				});

			var vector = new ol.layer.Vector({
				source: new ol.source.KML({
					projection: 'EPSG:3857'})
				});

			var raster = new ol.layer.Tile({
				source: new ol.source.Stamen({
					layer: 'toner'})
				});		

			var coordenadaBase = [];
			var central = ol.proj.transform([parseFloat("{{ central.0.lat }}".toString().replace(/\,/g,'.')), parseFloat("{{ central.0.lon }}".toString().replace(/\,/g,'.'))], 'EPSG:4326', 'EPSG:3857');
			coordenadaBase.push(central);

			var view = new ol.View({
				center: central,
				zoom: 15
				});

			var map = new ol.Map({
				layers: [raster, vector],
				target: document.getElementById('map'),
				view: view
				});

			var coordenadasCli = [];
			{% for cliente in clientes %}
				coordenadasCli.push(ol.proj.transform([parseFloat("{{ cliente.lat }}".toString().replace(/\,/g,'.')), parseFloat("{{ cliente.lon }}".toString().replace(/\,/g,'.'))], 'EPSG:4326', 'EPSG:3857'));
			{% endfor %}

			console.log(coordenadasCli[0]);

			map.on('postcompose', function(event) {
				var vectorContext = event.vectorContext;
				vectorContext.setImageStyle(base);
				vectorContext.drawMultiPointGeometry(new ol.geom.MultiPoint(coordenadaBase), null);
				vectorContext.setImageStyle(cliente);
				vectorContext.drawMultiPointGeometry(new ol.geom.MultiPoint(coordenadasCli), null);
				map.render();
				});

			map.render();

			var leyenda = ['<p class="leyenda">Leyenda</p>',
				'<svg width="10" height="10"><circle cx="5" cy="5" r="5" fill="red" stroke="black" stroke-width="1"/></svg>&nbsp;&nbsp;&nbsp;&nbsp; Central',
				'<svg width="10" height="10"><circle cx="5" cy="5" r="5" fill="pink" stroke="red" stroke-width="1"/></svg>&nbsp;&nbsp;&nbsp;&nbsp; Clientes',
				'<svg width="10" height="10"><circle cx="5" cy="5" r="5" fill="green" stroke="red"/></svg>&nbsp;&nbsp;&nbsp;&nbsp; Drones'].join('<br />');

			document.getElementById('leyenda').innerHTML = leyenda;

			var estado_drones = new ol.Geolocation({
				projection: view.getProjection(),
				tracking: true
				});

			estado_drones.on('change', function(estado) {
				var info = [
					{% for dron in drones %}
						'{{ dron.nombre }}' + ' - ' +
						{% if dron.estado == 0 %}
							'<fallo>FALLO</fallo>',
						{% endif %}
						{% if dron.estado == 1 %}
							'<activo>Activo</activo>',
						{% endif %}
						{% if dron.estado == 2 %}
							'<apagado>Apagado</apagado>',
						{% endif %}
						{% if dron.estado == 3 %}
							'<activo>Armando</activo>',
						{% endif %}
						{% if dron.estado == 4 %}
							'<activo>Despegando</activo>',
						{% endif %}
						{% if dron.estado == 5 %}
							'<activo>De camino</activo>',
						{% endif %}
						{% if dron.estado == 6 %}
							'<activo>De vuelta</activo>',
						{% endif %}
						{% if dron.estado == 7 %}
							'<activo>Aterrizando</activo>',
						{% endif %}
					{% endfor %}
					].join('<br />');
				document.getElementById('drones').innerHTML = info;
				});
		</script>
		<div class="row-fluid">
			<div class="span12">
				<div id="no-download" class="alert alert-error" style="display: none">
					Estas utilizando un navegador que no soporta este tipos de descarga. Para saber que navegadores lo permiten visita 
					<a href="http://caniuse.com/#feat=download">esta página.</a>
				</div>
				<a id="export-png" class="btn btn-default btn-md" download="mapa.png"><i class="glyphicon glyphicon-download"></i> Exportar mapa a PNG</a>
			</div>
		</div>
		<br>
		<p>
			<a class="btn btn-info btn-md" href="{% url 'padd' %}">
				Realizar Pedido
			</a>
			<div id="messages" style="border: 1px solid #CCC; padding: 5px"></div> 
		</p>
		<script type="text/javascript">
			var exportPNGElement = document.getElementById('export-png');

			if ('download' in exportPNGElement){
				exportPNGElement.addEventListener('click', function(e) {
					map.once('postcompose', function(event) {
						var canvas = event.context.canvas;
						exportPNGElement.href = canvas.toDataURL('image/png');});
					map.renderSync();},
				false);} 
			else {
				var info = document.getElementById('no-download');
				/**
				* display error message
				*/
				info.style.display = '';
				}
		</script>
	</body>
</html>
{% endblock %}
